:root {
    --sidebar-width: 17%;
    --sidebar-bg-color: rgb(90, 28, 77);
}

#sidebar {
    background-color: var(--sidebar-bg-color);
    width: var(--sidebar-width);
    display: flex;
    /* justify-content: center; */
    overflow-y: scroll;
}

#sidebar ul {
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

#sidebar ul li {
    list-style-type: none;
}

#sidebar ul li a:hover {
    background-color: rgb(131, 131, 131);
    color: white;
}

#sidebar-title {
    text-align: center;
}

#content-wrapper {
    display: flex;
    flex-direction: row;
}

#main-content {
    background-color: var(--main-bg-color);
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
}

#content-text {
    position: static;
    margin-left: 5%;
    margin-right: 10%;
}
