:root {
    --main-bg-color: #1A1A22;
    --main-text-color: white;
    --nav-bg-color: #333333;
    --nav-text-color: rgb(196, 196, 196);
    --nav-pad-x: 30px;
    --nav-bar-title-font-size: 35pt;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    background-color: var(--main-bg-color);
    /* position: fixed; */
}

h1, h2, h3, p, li {
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 0; */
    /* margin: 0; */
}

/* ============================== */
/*             Navbar             */
/* ============================== */

#navbar-wrapper {
    width: 100%;
    overflow: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9001;
    background-color: var(--nav-bg-color);
    /* overflow: auto; */
    /* clear: both; */
}

#navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--nav-bg-color);
    position: static;
    /* display: block; */
}

#navbar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    overflow: visible;
}

#navbar ul li {
    height: 100%;
    float: left;
    text-align: center;
}

#navbar ul li a:link {
    margin: 0;
    height: 100%;
    padding: 8px;
    padding-left: var(--nav-pad-x);
    padding-right: var(--nav-pad-x);
    display: block;
    text-decoration: none;
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    font-size: 25pt;
}

#navbar ul li a:visited {
    color: var(--nav-text-color);
    font-size: large;
}

#navbar ul li a:hover, a:active {
    color: var(--nav-text-color);
    background-color: teal;
}

#navbar-title {
    font-weight: bolder;
    font-size: 35pt;
    padding: 0;
    padding-left: var(--nav-pad-x);
    padding-right: var(--nav-pad-x);
    margin: 0;
    height: 100%;
    text-decoration: none;
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
}


/* ============================== */
/*            Content             */
/* ============================== */

#content-wrapper {
    width: 100%;
    position: static;
    /* clear: both; */
    /* display: block; */
    /* float: right; */
}

#content {
    position: static;
    margin-left: 5%;
    margin-right: 5%;
}

/* ============================== */
/*        Home page banner        */
/* ============================== */

#banner {
    position: relative;
    top: 0;
}

#banner-img {
    position: static;
    /* z-index: 0; */
    /* display: block; */
}

#banner-img img {
    width: 100%;
    /* min-height: 500px; */
}

#banner-text {
    position: absolute;
    z-index: 10;
    top: 5%;
    left: 5%;
    /* margin: 0;
    padding: 0; */
}

.banner-text {
    /* padding-left: 80px; */
}

/* ============================== */
/*             Footer             */
/* ============================== */

footer {

}

#copyright {
    text-align: center;
}