:root {
    --main-bg-color: rgb(38, 29, 43);
    --main-text-color: white;
    --main-link-unvisited-color: rgb(192, 192, 192);
    --main-link-visited-color: rgb(192, 192, 192);
    --main-link-hover-color: rgb(128, 128, 128);
}

/* main font family and color */
h1, h2, h3, p, li {
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Default font sizes */
h1 {
    font-size: 30pt;
    margin-top: 50pt;
}
h2 {
    font-size: 20pt;
    margin-top: 30pt;
}
p, li {font-size: 15pt;}

/* main anchor/link parameters */
a:link {
    color: var(--main-link-unvisited-color)
}

a:visited,
a:active {
    color: var(--main-link-visited-color);
}

a:hover {
    color: var(--main-link-hover-color)
}

/* code display */
code {
    display: inline-block;
    color: black;
    background-color: gray;
    padding: 2px;
    font-size: 12pt;
}

pre code {padding: 10px}

/* main body */
body {
    margin: 0;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    min-width: 100%;
    position: relative;
}

/* ============================== */
/*             Navbar             */
/* ============================== */

#navbar-wrapper {
    position: sticky;
    top: 0;
    z-index: 9001;
    background-color: var(--nav-bg-color);
    --nav-bg-color: #333333;
    --nav-text-color: rgb(196, 196, 196);
    --nav-text-color-anim-fade: rgb(114, 114, 114);
    --nav-pad-x: 30px;
    --nav--title-font-size: 35pt;
    --nav--link-font-size: 20pt;
    /* hover pad y should always be half the difference of the above quantities */
    --nav--hover-pad-y: 8pt; 
}

@keyframes rainbow-bg-animation-1 {
      0%     {background-color: var(--nav-bg-color); color: var(--nav-text-color);}
     14%     {background-color: rgb(255, 0, 0); color: var(--nav-text-color-anim-fade);}
     28%     {background-color: rgb(255, 255, 0); color: black;}
     42%     {background-color: rgb(0, 255, 0); color: black;}
     57%     {background-color: rgb(0, 255, 255); color: black;}
     71%     {background-color: rgb(88, 77, 255); color: black;}
     85%     {background-color: rgb(255, 0, 255); color: black;}
    100%     {background-color: rgb(255, 0, 0); color: black;}
}

@keyframes rainbow-bg-animation-2 {
      0%     {background-color: rgb(255, 0, 0); color: black;}
     16%     {background-color: rgb(255, 255, 0); color: black;}
     33%     {background-color: rgb(0, 255, 0); color: black;}
     50%     {background-color: rgb(0, 255, 255); color: black;}
     67%     {background-color: rgb(88, 77, 255); color: black;}
     83%     {background-color: rgb(255, 0, 255); color: black;}
    100%     {background-color: rgb(255, 0, 0); color: black;}
}

#navbar-title:hover {
    animation-name: rainbow-bg-animation-1, rainbow-bg-animation-2;
    animation-duration: 4s, 4s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: linear, linear;
    animation-delay: 0s, 4s;
}

#navbar-title {
    font-weight: bolder;
    font-size: var(--nav--title-font-size);
    padding-left: var(--nav-pad-x);
    padding-right: var(--nav-pad-x);
    color: var(--nav-text-color);
}

#navbar ul {
    padding: 0;
    list-style-type: none;
    font-size: 0; /* this is to get rid of whitespace between nav elements */
}

#navbar ul li {
    display: inline-block;
    vertical-align: middle;
}

#navbar ul li a:link {
    padding-left: var(--nav-pad-x);
    padding-right: var(--nav-pad-x);
    padding-top: var(--nav--hover-pad-y);
    padding-bottom: var(--nav--hover-pad-y);
    display: block;
    text-decoration: none;
    color: var(--nav-text-color);   /* prevents link from turning blue on load */
    font-size: var(--nav--link-font-size);
}

#navbar ul li a:visited {
    color: var(--nav-text-color);
    font-size: large;
}

#navbar ul li a:hover,
#navbar ul li a:active {
    color: white;
    background-color: teal;
    /* height: 100%; */
}


/* ============================== */
/*            Content             */
/* ============================== */

#content-wrapper {
    /* width: 100%; */
    position: static;
    padding-bottom: 100px;
}

#content {
    position: static;
    margin-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
    overflow: auto;
}

/* ============================== */
/*        Home page banner        */
/* ============================== */

#banner {
    position: relative;
    top: 0;
}

#banner-img {
    position: static;
}

#banner-img img {
    width: 100%;
}

#banner-text {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 5%;
}

/* #banner-text h1 {font-size: 5vw;}
#banner-text h2 {font-size: 2.5vw;} */
#banner-text h1 {font-size: calc(15pt + 5vw);}
#banner-text h2 {font-size: calc(10pt + 2.5vw);}
.banner-text {
    margin: 0;
    text-shadow: 0 0 3px black;
}

/* ============================== */
/*             Footer             */
/* ============================== */

#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright,
.flask-acknowledgement {
    text-align: center;
    font-size: 10pt;
}