/* ============================== */
/*        Home page banner        */
/* ============================== */

#banner {
    position: relative;
    top: 0;
}

#banner-img {
    position: static;
}

#banner-img img {
    width: 100%;
    display: block;
}

#banner-text {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 5%;
}

#banner-text h1 {font-size: calc(15pt + 5vw);}
#banner-text h2 {font-size: calc(10pt + 2.5vw);}
.banner-text {
    margin: 0;
    color: white;
    text-shadow: 0 0 3px black;
}


/* ============================== */
/*            Content             */
/* ============================== */

#content-wrapper {
    /* width: 100%; */
    position: static;
    box-sizing: content-box;
}

#content {
    position: static;
    /* margin-top: 100px; */
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 100px;
    overflow: auto;
}
